@model GestorDeTaller.Model.DetallesRepuesto

@{ ViewData["Title"] = "CantidadDeRepuestosUtilizados"; }
@{
    Layout = "~/Views/Restringido/_Layout2.cshtml";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; //Esta sería la plantilla original del sitio web.
}
<h1>Cantidad De Repuestos Utilizados</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
    </dl>
</div>
<div>
    <a href="javascript: history.go(-1)">Regresar</a>
</div>