@model IEnumerable<GestorDeTaller.Model.Mantenimiento>

@{
    ViewData["Title"] = "ListarMantenimientosAsociadosAlRepuesto";
}

<h1>Mantenimientos Asociados</h1>


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>

            </tr>
        }
    </tbody>
</table>
<div>
    <br><br>
    <a href="javascript: history.go(-1)">Regresar</a>
</div>
