@model IEnumerable<GestorDeTaller.Model.Repuesto>

@{ ViewData["Title"] = "ListarDetallesDelRepuesto"; }

<h1>Detalles Del Repuesto</h1>


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Precio)
    </td>




</tr>}

    </tbody>
</table>
<br>
<br>
<td>
    <a href="javascript: history.go(-1)" class="btn btn-primary">Regresar</a>
</td>
