@{
    Layout = "~/Views/Restringido/_Layout.cshtml";
}
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<html>
<body style="background-color:black;">

  

    <img src="https://elsignificadode.net/wp-content/uploads/2017/10/BIENVENIDO-1024x561.jpg" alt="Girl in a jacket" width="1150" height="480">

</body>
</html>

