@{
    Layout = "~/Views/Restringido/_Layout2.cshtml";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; //Esta sería la plantilla original del sitio web.
}
@using (Html.BeginForm())
{

    <h1>Lista de mantenimiento</h1>
    <br>
    <br>

    <label for="Name">Seleccione un Mantenimiento</label>

    @Html.DropDownList("Mantenimiento", new SelectList(ViewBag.laLista, "Id", "DescripCosto", null))
    
    <input type="submit" name="Elegir" value="Elegir" new { onclick = "return confirm('¿Desea seleccionar este mantenimiento?');" } />
    <br>
    <br>

    <div>

        <a asp-controller="Repuestos" asp-action="ListarRepuestosAsociados" class="btn btn-primary">Regresar</a>
    </div>}
