@using (Html.BeginForm())
{
<h1>Lista de Mantenimiento</h1>
<br>
<br>


<label for="Name">Seleccione un Mantenimiento</label>

@Html.DropDownList("Mantenimiento", new SelectList(ViewBag.laLista, "Id", "DescripCosto", null))

<input type="submit" name="Elegir" value="Elegir" />

<br>
<br>

<div>
    <a href="javascript: history.go(-1)">Regresar</a>
</div>
}
