@model GestorDeTaller.UI.Models.MotivoDeCancelacion

@{ ViewData["Title"] = "CancelarOrdenDeMantenimiento"; }

<h1>Cancelar Orden De Mantenimiento</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CancelarOrdenDeMantenimiento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="motivoDeCancelacion" class="control-label"></label>
                <input asp-for="motivoDeCancelacion" class="form-control" />
                <span asp-validation-for="motivoDeCancelacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="javascript: history.go(-1)" class="btn btn-warning">Cancelar</a>
</div>