@model GestorDeTaller.Model.MotivoDeCancelacion

@{ ViewData["Title"] = "CancelarOrdenDeMantenimiento"; }
@{
    Layout = "~/Views/Restringido/_Layout2.cshtml";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; //Esta sería la plantilla original del sitio web.
}
<h1>Cancelar orden de mantenimiento</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CancelarOrdenDeMantenimiento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="motivoDeCancelacion" class="control-label"></label>
                <input asp-for="motivoDeCancelacion" class="form-control" />
                <span asp-validation-for="motivoDeCancelacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="javascript: history.go(-1)" class="btn btn-warning">Cancelar</a>
</div>