@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar email";
}
@{
    Layout = "~/Views/Restringido/_Layout.cshtml";
}
@{
    Layout = "~/Views/Shared/_Layout2.cshtml"; //Esta sería la plantilla original del sitio web.
}
<h1>@ViewData["Title"]</h1>