@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
@{
    Layout = "~/Views/Restringido/_Layout.cshtml";
}
@{
    Layout = "~/Views/Shared/_Layout2.cshtml"; //Esta sería la plantilla original del sitio web.
}
<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>

