@page
@model LockoutModel
@{
    ViewData["Title"] = "Bloqueado";
}
@{
    Layout = "~/Views/Restringido/_Layout.cshtml";
}
@{
    Layout = "~/Views/Shared/_Layout2.cshtml"; //Esta sería la plantilla original del sitio web.
}
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">
        <img src="https://static1.lasprovincias.es/cosaspracticas/multimedia/201711/02/media/cortadas/bloqueado-keMH-U5031219985LqG-624x385@Las%20Provincias.jpg" alt="Girl in a jacket" width="250" height="250">
        ¡Esta cuenta ha sido bloqueada, por favor intente nuevamente mas tarde!.
    </p>
</header>
