@{
    Layout = "~/Views/Restringido/_Layout.cshtml";
}
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<html>
<body style="background-color:black;">


    Prueba
   frwgfrweg

</body>
</html>

