@model GestorDeTaller.Model.Mantenimiento

@{ ViewData["Title"] = "CrearMantenimiento"; }

<h1>Agregar Mantenimiento</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CrearMantenimiento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoFijo" class="control-label"></label>
                <input asp-for="CostoFijo" class="form-control" />
                <span asp-validation-for="CostoFijo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <p>
        <a href="javascript: history.go(-1)" class="btn btn-primary">Cancelar</a>

    </p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
