@model GestorDeTaller.Model.OrdenDeMantenimiento

@{
    ViewData["Title"] = "AgregarOrdenDeMantenimientoRecibidas";
}

<h1>Agregar orden de mantenimiento recibida</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarOrdenDeMantenimientoRecibidas">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NombreDelCliente" class="control-label"></label>
                <input asp-for="NombreDelCliente" class="form-control" />
                <span asp-validation-for="NombreDelCliente" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label for="Name">Seleccione el artículo</label>
                @Html.DropDownList("Articulo", new SelectList(ViewBag.laLista, "Id", "NombreMarca", null), new { @class = "form-control input-lg" })
            </div>

            <div class="form-group">
                <label asp-for="DescripcionDelProblema" class="control-label"></label>
                <input asp-for="DescripcionDelProblema" class="form-control" />
                <span asp-validation-for="DescripcionDelProblema" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MontoDeAdelanto" class="control-label"></label>
                <input asp-for="MontoDeAdelanto" class="form-control" />
                <span asp-validation-for="MontoDeAdelanto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Aceptar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="javascript: history.go(-1)" class="btn btn-success">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
