<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestorDeTaller.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="btn btn-primary" asp-area="" asp-controller="CatalogoDeArticulos" asp-action="ListarCatalogoDeArticulos">Catálogo De Artículos</a>
                <a class="btn btn-success" asp-area="" asp-controller="OrdenesDeMantenimientoRecibida" asp-action="ListarOrdenesDeMantenimientoRecibidas">Órdenes De Mantenimiento Recibidas</a>
                <a class="btn btn-warning" asp-area="" asp-controller="OrdenesDeMantenimientoEnProceso" asp-action="ListarOrdenesDeMantenimentoEnProceso">Órdenes De Mantenimiento En Proceso</a>
                <a class="btn btn-secondary" asp-area="" asp-controller="OrdenesDeMantenimientoTerminada" asp-action="ListarOrdenesDeMantenimientoTerminadas">Órdenes De Mantenimiento Terminadas</a>
                <a class="btn btn-danger" asp-area="" asp-controller="OrdenesDeMantenimientoCanceladas" asp-action="ListarOrdenesDeMantenimientoCanceladas">Órdenes De Mantenimiento Canceladas</a>


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Informática Empresarial 2020 - GestorDeTaller
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
